<!DOCTYPE html>
<html>
    <body>
        <h2>MadLib Results</h2>
        It was a hot <strong>{{noun}}</strong> day. 
        I decided that I would go and get some <strong>{{adjective}}</strong> ice cream for me and <strong>{{person}}</strong>. 
        I got on my bicycle and started <strong>{{verb}}</strong>. 
        Soon enough, I reached the <strong>{{location}}</strong> where the ice-cream was being sold. I had a great time!<br>
        
        <img src="{{location_url}}" alt="{{location}}" width="300px" height="200px"><br>
        
        <a href="./">Go Back</a>
        
    </body>
</html>