<!DOCTYPE html>
<html>
<head>
	<title>Numbers Lab</title>
</head>
<body>
	<h3>The Numbers Lab</h3>
	
	<div>
	Here are some facts about the number {{num}}:
	    <ul>
            <li>The square root of {{num}} is {{sqrt}}</li>
            <li>{{num}} squared is {{square}}</li>
            <li>The natural log of {{num}} is {{ln}}</li>
	    </ul>
	</div>
	
	<a href="./">Go back to the numbers list</a>
	
</body>
</html>