<!DOCTYPE html>
<html>
<head>
	<title>{{full_name}}</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="./../css/basic.css">
</head>
<body>
<div class="container"> 
    <h2>Hello, {{first_name}}! You have successfully logged into your profile page.<br></h2>
    <p>
    	Username: {{username}}<br>
    	Seems like you were having a great picture day!<br><br>
    	
    	<img src="{{img_link}}" width="300px" height="400px"><br><br>
    	
    	Your counselor is {{counselor}}.<br><br>
    	
    	Click <a href="./oauth">here</a> to go back.<br><br>
    	Click <a href="./logout">here</a> to logout.
	</p>
</body>
</html>