<!DOCTYPE html>
<html>
<head>
	<title>{{full_name}}</title>
	<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="./../css/basic.css">
</head>
<body>
<div class="container"> 
    <h2>Hello, {{nickname}}! You have successfully logged into your profile page.<br></h2>
    <p>
    	Username: {{username}}<br>
    	Nickname: {{nickname}}<br>
    	Seems like you were having a great picture day!<br><br>
    	
    	<img src="{{img_link}}" width="300px" height="400px"><br><br>
    	
    	Your counselor is {{counselor}}.<br><br>
    	
        <form action="nickname" method="GET">
            Enter your nickname here:  <input type="text" name="nickname" placeholder="{{full_name}}"><br><br>
            <button type="submit" value="submit">Submit</button>
        </form> <br>
    	
    	<p>Click <a href="./oauth">here</a> to go back.</p>
    	<p>Click <a href="./logout">here</a> to logout.</p>
	</p>
</body>
</html>