<!DOCTYPE html>
<html>
<head>
	<title>Today's Weather!</title>
</head>
<body>
    <h1>Still under construction!!!</h1>
	<h3>Here is the the weather for today in {{location}}:</h3>
	
	<div>
	    <ul>
	        {{#each forecast}}
            <li>{{this.name}} - {{this.temperature}}{{this.unit}}<br>{{this.shortForecast}}</li>
            {{/each}}
	    </ul>
	</div>
	
	<a href="./">Go back</a>
	
</body>
</html>